[mysql]
default-character-set=utf8

[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
log-error       = /var/log/mysql/error.log
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-bin=mysql-bin
binlog-format=ROW
server_id=1002
default-storage-engine=INNODB
character-set-server=utf8
collation-server=utf8_general_ci
log-slave-updates
sync_binlog =1
